extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/maker") Your Characters
  section#editCharacters
    if !characters || characters.length == 0
        div.character
            h3.emptyCharacter No characters yet
    else
        each val in characters
            div.character
                form.editCharacterForm(class="editCharacterForm", name="editCharacterForm", action="/editor", method="POST")
                  label(for="name") Name: #{val.name}
                  input.characterName(type="hidden", name="name", value="#{val.name}")
                  label(for="age") Age: 
                  input.characterAge(type="text", name="age", placeholder="#{val.age}")
                  label(for="profession") Class:
                  input.characterProfession(type="text", name="profession", placeholder="#{val.profession}")
                  label(for="race") Race: 
                  input.characterRace(type="text", name="race", placeholder="#{val.race}")
                  input(type="hidden", name="_csrf", value="#{csrfToken}")
                  input(type="hidden", name="id", value="#{val.id}")
                  button.editCharacterSubmit(class="editCharacterSubmit", href="#") Edit Character
  #characterMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
block scripts
        script(src="/assets/maker.js")